*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed white; */
}
html{
    font-family: sans-serif;
}
body{
    background-color: black;
    color: white;
    height: 100vh;
}
img{
    display: block;
    /* width: 100%;
    min-width: 100px; */
}
.bar-top{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    height: 60px;
}
.bar-top button{
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #2e2e2e;
}
.main{
    height: calc(100% - (60px + 80px));
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    gap: 20px;
}
.main .user{
    position: relative;
}
.main .user .pinco{
    padding: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.8)
}
.footer{
    height: 80px;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 15px; */
}
.footer-left{
    display: flex;
    gap: 10px;
}
.footer-center{
    display: flex;
    gap: 10px;
}
.footer .icon{
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 2px;
}
.footer .icon svg{
    height: 25px;
}
.footer .icon > div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.footer-right{
    height: 100%;
    line-height: 80px;
    background-color: #2e2e2e;
}
#end{
    color: red;
    height: 100%;
    padding-inline: 15px;
}
.footer button{
    border: 0;
    padding: 10px;
}